@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Flex';
    src: url('../fonts/RobotoFlex-Regular.eot');
    src: url('../fonts/RobotoFlex-Regular.eot') format('embedded-opentype'),
        url('../fonts/RobotoFlex-Regular.woff2') format('woff2'),
        url('../fonts/RobotoFlex-Regular.woff') format('woff'),
        url('../fonts/RobotoFlex-Regular.ttf') format('truetype'),
        url('../fonts/RobotoFlex-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation-Light.eot');
    src: url('../fonts/Sansation-Light.eot') format('embedded-opentype'),
        url('../fonts/Sansation-Light.woff2') format('woff2'),
        url('../fonts/Sansation-Light.woff') format('woff'),
        url('../fonts/Sansation-Light.ttf') format('truetype'),
        url('../fonts/Sansation-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*--------------General styles and reset-------------------*/

html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.wrapper {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1332px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

main {
    width: 100%;
    flex: 1 1 auto;
    margin: 0 auto;
}

/*--------------Components-------------------*/

/*--------------Header-------------------*/

.header {
    background: #171717;
    position: sticky;
    z-index: 3;
}

.header__container {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    display: block;
    width: 140px;
    height: 30px;
    background: url(../img/logo.svg) center center no-repeat;
    position: relative;
    z-index: 3;
}

.header__nav {
    display: flex;
    flex-direction: row;
    column-gap: 56px;
    align-items: center;
}

.menu__items {
    display: flex;
    flex-direction: row;
    column-gap: 52px;
}

.menu__item>a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F7F7F7;
    transition: all 0.4s ease;
}

.menu__item>a:hover,
.submenu__item a:hover {
    background: linear-gradient(100.08deg, #9FEA00 0.68%, #F7F7F7 133.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__item_with-submenu>a::after,
.lang__selected::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 6px;
    vertical-align: middle;
    margin-left: 10px;
    background: url(../img/arrow-down-w.svg) right center no-repeat;
}

.menu__item_with-submenu>a:hover .menu__item_with-submenu>a::after,
.header__lang:hover .lang__selected::after {
    background: url(../img/arrow-down-g.svg) right center no-repeat;
}

.menu__item_with-submenu:hover .submenu__items {
    display: flex;
}

.submenu__items {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #171717;
    box-shadow: 0 0 0 100vw #171717;
    clip-path: inset(0 -100vw);
    padding: 40px 0 20px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F7F7F7;
    display: none;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.submenu__items>li {
    padding: 30px 50px 30px 50px;
}

.submenu__items>li:not(:last-child) {
    border-right: 1px solid #272727;
}

.submenu__item.primary a {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #F7F7F7;
}

.submenu__group-items .submenu__item:not(:last-child) {
    margin-bottom: 30px;
}

.header__callback {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #E3E3E3;
    border-radius: 20px;
    background: linear-gradient(100.08deg, #9FEA00 0.68%, #F7F7F7 133.9%);
    width: 207px;
    height: 44px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.header__callback_inner {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 20px;
    background: #171717;
    padding: 8px 26px;
    font: inherit;
}

.header__callback:hover .header__callback_inner {
    background: transparent;
    color: #171717;
}

.header__lang {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F7F7F7;
    cursor: pointer;
}

.header__lang:hover {
    background: linear-gradient(100.08deg, #9FEA00 0.68%, #F7F7F7 133.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lang__selected {}

.lang__option {
    display: none;
}

/*--------------  -------------------*/

/*--------------Footer-------------------*/